@use "../../../shared/styles/shared";

.cc-blogs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__top {
        width: 80%;
        display: inline;
    }


    &__button {
        width: 80%;
        background-color: transparent;
        border: 0px;
        font-family: shared.$primary-font;
        font-size: 16px;
        color: shared.$font-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            color: shared.$focus-color;
        }

        @media (max-width: 700px) {
            font-size: 14px;
        }

        @media (max-width: 450px) {
            font-size: 12px;
        }


        @media (max-width: 350px) {
            font-size: 10px;
        }

    }


    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;


    }

    &__title {
        font-family: shared.$primary-font;
        font-size: 27px;

        @media (max-width: 700px) {
            font-size: 22px;
        }

        @media (max-width: 450px) {
            font-size: 15px;
        }


        @media (max-width: 350px) {
            font-size: 10px;
        }
    }
 
    &__moreinfo {
         font-family: shared.$primary-font;
         font-size: 12px;
         color: rgb(99, 97, 97);
         margin: 3px 0px 3px 0px;
    }

    &__for-image {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        &__image {
          
            position: relative;
            width: 100%;
            border-radius: 5px;
        }    
    }

    &__text {
        width: 100%;
        font-family: shared.$primary-font;
        font-size: 18px;
        margin: 50px 0px 10px 0px;
        text-align: justify;
    }


}