<nav class="cc-coins-header">
    <ul class="cc-coins-header__nav">
        <li class="cc-coins-header__nav__hashtag
        cc-coins-header__nav__li">#</li>
        <li class="cc-coins-header__nav__name
        cc-coins-header__nav__li">Coin</li>
        <li class="cc-coins-header__nav__price
        cc-coins-header__nav__li ">Price</li>
        <li class="cc-coins-header__nav__1h
        cc-coins-header__nav__li">1h</li>
        <li class="cc-coins-header__nav__24h
        cc-coins-header__nav__li">24h</li>
        <li class="cc-coins-header__nav__7days
        cc-coins-header__nav__li">7 days</li>
        <li class="cc-coins-header__nav__market-cap
        cc-coins-header__nav__li ">
            <span>Market Cap</span>
           <div class="cc-coins-header__hover-container">
            <i class="fa-solid fa-info cc-coins-header__nav__info "></i>
            <div class="cc-coins-header__hover-container__hover">  The total market value of a stocks circulating supply.
                It is the same what free-float capitalization is.
               <span> Market Cap = Current Price x Circulating Supply. </span></div>
           </div>
        </li>
        <li class="cc-coins-header__nav__volume
        cc-coins-header__nav__li">
            <span>Volume</span>
            <div class="cc-coins-header__container-second">
                <i class="fa-solid fa-info cc-coins-header__nav__info "></i>
                <div class="cc-coins-header__container-second__second-hover">   
                    A measure of how much of a stock was traded
                     in the last 24 hours in currency. </div>
               </div>
        </li>
        <li class="cc-coins-header__nav__supply
        cc-coins-header__nav__li">
            <span  class="cc-coins__with-hover">Supply</span>
            <div class="cc-coins-header__container-third">
                <i class="fa-solid fa-info cc-coins-header__nav__info "></i>
                <div class="cc-coins-header__container-third__third-hover">   
                    The amount of stocks that
                     are circulating in the market and are in public hands.
                    <span>Flowing shares is the second term of it.</span> </div>
               </div>
        </li >
        <li class="cc-coins-header__nav__chart
        cc-coins-header__nav__li">Chart</li>
    </ul>
    
</nav>