<nav class="cc-coins-header">
    <ul class="cc-coins-header__nav">
        <li class="cc-coins-header__nav__hashtag
        cc-coins-header__nav__li">#</li>
        <li class="cc-coins-header__nav__name
        cc-coins-header__nav__li">Coin</li>
        <li class="cc-coins-header__nav__price
        cc-coins-header__nav__li ">Price</li>
        <li class="cc-coins-header__nav__1h
        cc-coins-header__nav__li">1h</li>
        <li class="cc-coins-header__nav__24h
        cc-coins-header__nav__li">24h</li>
        <li class="cc-coins-header__nav__7days
        cc-coins-header__nav__li">7 days</li>
        <li class="cc-coins-header__nav__market-cap
        cc-coins-header__nav__li ">
            <span>Market Cap</span>
            <i class="fa-solid fa-info cc-coins-header__nav__info "></i>
        </li>
        <li class="cc-coins-header__nav__volume
        cc-coins-header__nav__li">
            <span>Volume</span>
            <i class="fa-solid fa-info cc-coins-header__nav__info"></i>
        </li>
        <li class="cc-coins-header__nav__supply
        cc-coins-header__nav__li">
            <span>Supply</span>
            <i class="fa-solid fa-info cc-coins-header__nav__info"></i>
        </li >
        <li class="cc-coins-header__nav__chart
        cc-coins-header__nav__li">Last 7 Days</li>
    </ul>
    
</nav>