@use "../../../shared/styles/shared";

@mixin title {
    color: shared.$font-color;
    text-transform: capitalize;
    margin: 0px;
}

.cc-header {
    margin: 30px 0px 16px;

    &__web-name {
        @include title;
        font-family: shared.$primary-font;
        font-size: 16px;
    }

    &__component-name {
        @include title;
        font-family: shared.$headline-font;
        font-size: 32px;
    }
}

