<div class="cc-auth">
    <div class="cc-auth__container">
        <aside class="cc-auth__top">
            <div class="cc-auth__top__title">{{title}}</div>
        </aside>
        <aside class="cc-auth__center">
            <cc-login *ngIf="registered" (login)="login($event)">sign In</cc-login>
            <cc-signup *ngIf="!registered" (signUp)="signUp($event)">sign up</cc-signup>

        </aside>
        <div class="cc-auth__bottom" (click)="changeComponent()">{{link}}</div>
    </div>
</div>