$primary-color: #ffff;
$seconday-color: #f5f5f6;
$focus-color: #355dff;
$font-color: #1e1f20;
$green-color: #16c784;
$red-color: #ea3943;
$border-color: #e4e7ea;
$hover-color: #ffdda9;
$table-color: #f5f5f6;