@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cc-dropdown {
  display: flex;
  justify-content: flex-end;
}
.cc-dropdown__name {
  font-size: 12px;
  color: #777d92;
  font-family: "Inter", sans-serif;
  margin-right: 5px;
}
.cc-dropdown__button {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #e4e7ea;
  background-color: white;
  position: relative;
}
.cc-dropdown__options {
  width: 36px;
  height: 93px;
  border-radius: 10px;
  border: 1px solid #e4e7ea;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3px 0px 0px 75px;
  position: absolute;
  z-index: 10;
  background-color: white;
  display: none;
}
.cc-dropdown__options__size {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cc-dropdown__options__size:hover {
  background-color: #f5f5f6;
}