@use "../../../shared/styles/shared";


.cc-footer {
    width: 100%;
    border-top: 2px solid shared.$border-color;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 30px;

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;


        @media (max-width: 390px) {
            width: 100px;
        }

    }

    &__social-networks {

        &__name {
            font-family: shared.$primary-font;
            font-size: 16px;
            color: shared.$font-color;
            font-weight: 400;
        }

        &__nav {
            width: 200px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 700px) {
                width: 150px;
            }

            @media (max-width: 450px) {
                width: 80px;
             }


        }

        &__li {
            list-style: none;
        }

        &__logo {
            color: shared.$footer-color;
            font-size: 24px;

            @media (max-width: 390px) {
                font-size: 15px;
           }
        }
    }

    &__name-box {
        display: flex;
        justify-content: flex-start;

    }

    &__logo {
        width: 62px;
        height: 62px;
        margin-top: 5px;
        filter: grayscale(100%);
    }

    &__project-name {
        font-family: shared.$headline-font;
        color: shared.$footer-color;
        font-size: 22px;
        
        &--transparent {
            opacity: 0.5;
        }

        @media (max-width: 700px) {
            font-size: 18px;
        }

        @media (max-width: 430px) {
            font-size: 13px;
        }

        @media (max-width: 390px) {
            font-size: 9px;
       }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 700px) {
            width: 200px;
        }


        @media (max-width: 390px) {
            width: 100px;
        }

        &__li {
            list-style: none;
           margin-bottom: 10px;
           font-size: 16px;
           font-family: shared.$primary-font;
           color: shared.$font-color;

           @media (max-width: 390px) {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
         }
        }
    }

    &__products {
        font-family: shared.$primary-font;
        font-size: 16px;
        color: shared.$font-color;
        font-weight: 600;

        @media (max-width: 375px) {
            display: flex;
            justify-content: flex-end;
            margin-right: 10px;
         }


    }

    &__copyright {
        font-family: shared.$primary-font;
        color: shared.$font-color;
        font-size: 14px;

        @media (max-width: 820px) {
           margin: 30px 0px 0px 0px;
        }

        @media (max-width: 390px) {
            width: 100px;
            text-align: end;
            margin-right: 10px;
            font-size: 10px;
         }

    }

}