<footer class="cc-footer">
    <aside class="cc-footer__left">
        <div class="cc-footer__left__name-box">
            <img class="cc-footer__logo" src="assets/logo.png" alt="">
            <h3 class="cc-footer__project-name">Crypto<span class="cc-footer__project-name--transparent">Chronicles.</span></h3>
        </div>
        <div class="cc-footer__social-networks">
            <h5 class="cc-footer__social-networks__name">Social Networks</h5>
            <nav class="cc-footer__social-networks__nav">
                <li class="cc-footer__social-networks__li">
                    <i class="fa-brands fa-twitter 
                    cc-footer__social-networks__logo"></i>
                </li>
                <li class="cc-footer__social-networks__li">
                    <i class="fa-brands fa-square-instagram
                    cc-footer__social-networks__logo"></i>
                </li>
                <li class="cc-footer__social-networks__li">
                    <i class="fa-brands fa-linkedin
                    cc-footer__social-networks__logo"></i>
                </li>
                <li class="cc-footer__social-networks__li">
                    <i class="fa-brands fa-facebook
                    cc-footer__social-networks__logo"></i>
                </li>
                <li class="cc-footer__social-networks__li">
                    <i class="fa-brands fa-tiktok
                    cc-footer__social-networks__logo"></i>
                </li>
            </nav>
        </div>
    </aside>
    <aside class="cc-footer__right">
        <section class="cc-footer__container">
            <h5 class="cc-footer__products">Products</h5>
        <nav class="cc-footer__right__nav">
            <li class="cc-footer__right__li">Coin Charts</li>
            <li class="cc-footer__right__li">Blogs</li>
        </nav>
        </section>
        <p class="cc-footer__copyright">© 2023 Crypto Chronicles. All rights reserved</p>
    </aside>
</footer>
