<section class="cc-drawer">
    <div class="cc-drawer__name-box">
        <img class="cc-drawer__logo" src="../../../assets/logo.png" alt="">
        <h3 class="cc-drawer__project-name">Crypto<span class="cc-drawer__project-name__transparent">Chronicles.</span></h3>
    </div>
    <nav class="cc-drawer__nav">
        <ul class="cc-drawer__tab-group">
            <li class="cc-drawer__nav__tab--active"><i class="fa-solid fa-igloo cc-drawer__nav__icon"></i>Home</li>
            <li class="cc-drawer__nav__tab"><i class="fa-solid fa-star-of-david cc-drawer__nav__icon"></i>Favorites</li>
            <li class="cc-drawer__nav__tab"><i class="fa-regular fa-newspaper cc-drawer__nav__icon"></i>Blogs</li>
            <li class="cc-drawer__nav__tab"><i class="fa-brands fa-searchengin cc-drawer__nav__icon"></i>Search</li>
        </ul>
    </nav>
    <div class="cc-drawer__currency">
        <span class="cc-drawer__currency__caption">options</span>
        <button class="cc-drawer__currency__picker">
            <div class="cc-drawer__currency___picker__content">
                <img class="cc-drawer__currency__picker__simbol" src="../../../assets/usd.png" alt="">
                <div class="cc-drawer__currency__picker__name">USD</div>
            </div>
            <i class="fa-solid fa-caret-down"></i>
        </button>
    </div>
</section>