<div class="cc-no-data" *ngIf="error$ | async">
    <cc-no-data></cc-no-data>
</div>
<ng-container *ngIf="!(error$ | async)">
    <div  *ngIf="loading$ | async">
        <cc-spinner></cc-spinner>
    </div>
    <ng-container *ngIf="!(loading$ | async)">
        <ng-container  
            *ngIf="{
                coins: (coins$ | async),
                page: (page$ | async),
                pageSize: (pageSize$ | async),
                currency: (currency$ | async),
                totalCoins: (totalCoins$ | async),
                matchingList: (matchingList$ | async)
            } as data">
            <cc-dropdown [current]="data.pageSize" (pageSizeChanged)="changePageSize($event)"></cc-dropdown>
            <cc-coin-table [coins]="data.coins"
            [page]="data.page" 
            [pageSize]="data.pageSize" 
            [currency]="data.currency" 
            (addedToFavorites)="toogleFavorites($event)"
            [matchingList]="data.matchingList"></cc-coin-table >
            <cc-paginator 
            [pageSize]="data.pageSize"
            [pageNumber]="data.page ? data.page - 1 : null"
            [collectionSize]="data.totalCoins" 
            (pageChanged)="changePage($event)"
            ></cc-paginator>
        </ng-container>
    </ng-container>
</ng-container>