@use "../../../shared/styles/shared";


@mixin header-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin nav-tab {
    list-style: none;
    width: 82%;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: shared.$primary-font;
    margin-bottom: 2px;
    cursor: pointer;
}

@mixin currency-tab {
    list-style: none;
    width: 95%;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-family: shared.$primary-font;
    margin: 10px 0px 2px 40px;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    justify-content: space-between;
    padding: 0px 20px;
    
}


@mixin caption {

    font-family: shared.$primary-font;
    text-transform: uppercase;
    color: grey;
}

@mixin change-currency {
    display: flex;
    align-items: center;
    height: 50%;
    width: 85%;
}

.cc-drawer {

    width: 264px;
    @include header-center;
    border-right: 2px solid shared.$border-color;
    height: 100%;
    position: fixed;

    &__name-box {
        display: flex;
        justify-content: center;
    }

    &__logo {
        width: 62px;
        height: 62px;
        margin-top: 5px;
    }

    &__project-name {
        font-family: shared.$headline-font;
        color: shared.$font-color;
        font-size: 22px;
        
        &__transparent {
            opacity: 0.5;
        }
    }


    &__nav {
        @include header-center;
        border-bottom: 2px solid shared.$border-color;

        &__tab-group {
            border-bottom: 1px solid shared.$border-color;
        }

        &__tab {
            @include nav-tab;

            &:hover {
                background-color: shared.$hover-color;
            }

        }

        &__tab--active {
            @include nav-tab;
            background-color: shared.$focus-color;
            color: shared.$primary-color;

            &:hover {
                background-color: shared.$focus-color;
            }
        }

        &__icon {
            padding: 0px 10px 2px 0px;
        }

    }

    &__currency {
        width: 81%;

        &__caption {
            @include caption;
            font-size: 10px;
            margin-left: 50px;
        }

        &__picker {
            @include currency-tab;

            &:hover {
                background-color: #EFEFEF;
            }

            &__content {
                display: flex;
                justify-content: center;
                width: 200px;
            }

            &__simbol {
                width: 25px;
                height: 25px;
            }

            &__name {
                font-family: shared.$primary-font;
                color: grey;
                font-weight: 500;
                font-size: 15px;
            }
        }

    }

    &__change-currency {
        display: flex;
        flex-direction: column;
        width: 215px;
        height: 141px;
        border-radius: 16px;
        box-shadow: 0 18px 48px #00000014;
        overflow: hidden;
        margin: 10px 0px 0px 32px;
    

        &__caption {
            @include caption;
            font-size: 12px;
            margin: 10px 0px 0px 15px;
            height: 15%;

        }
       
    }

    &__picker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85%;
    
        &__usd {
            @include change-currency;
            border-bottom: 1px solid shared.$border-color;
        }

        &__eu {
            @include change-currency;
        }

        &__logo {
            width: 25px;
            height: 25px;
            margin-top: 5px;
        }

        &__name {
            margin-top: 7px;
            margin-left: 5px;
        }
    }

    &__circle {
        margin-left: 100px;
    }

    &__circle2 {
        margin-left: 109px;
    }
}
