.cc-main-container {
  display: flex;
  width: 100%;
}
.cc-main-container__drawer {
  width: 20%;
}
.cc-main-container__main-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0% 5%;
  width: 100%;
}