@use "../../../shared/styles/shared";

.cc-coin-page {
    // width: 80%;
    // display: flex;
    // flex-direction: column;

    // &__top {
    //     height: 5%;
    // }

    &__styling {
        width: 16%;
        display: flex;
        align-items: center;

        &__button {
            background-color: transparent;
            border: 0px;
            font-family: shared.$primary-font;
            font-size: 16px;
            color: shared.$font-color;

            &:hover {
                color: shared.$focus-color;
            }
    
        }
    }

    // &__middle {
    //     height: 40%;
    //     width: 70%;
    // }

    // &__bottom {
    //     width: 100%;
    //     height: 55%;
    // }
}

