<div class="cc-coin-page">
    <div *ngIf="error$ | async">
        <cc-no-data></cc-no-data>
    </div>
    <ng-container *ngIf="!(error$ | async)">
        <div *ngIf="loading$ | async">
            <cc-spinner></cc-spinner>
        </div>
        <ng-container *ngIf="!(loading$ | async)">
            <aside class="cc-coin-page__top">
                
                    <button class="cc-coin-page__button"  type="button" (click)="back()">
                        <i class="fa-solid fa-arrow-left"></i>
                        Back To Listing</button>
                
            </aside>
            <aside class="cc-coin-page__middle">
                    <cc-coin-details [currency]="currency$ | async" [coinDetails]="coinDetails$ | async" [coinInfo]="coinInfo$ | async"></cc-coin-details>
            </aside>
            <aside class="cc-coin-page__bottom">
                <cc-coin-price-chart [coinPrices]="coinPrices$ | async"></cc-coin-price-chart>
            </aside>
        </ng-container>
    </ng-container>
</div>