@use "../../../shared/styles/shared";

.cc-coin-page {

    &__top {
        width: 200px;
        margin: 0px;
        display: inline;
    }


        &__button {
            width: 140px;
            background-color: transparent;
            border: 0px;
            font-family: shared.$primary-font;
            font-size: 16px;
            color: shared.$font-color;

            &:hover {
                color: shared.$focus-color;
            }
    
        }
    
    
}

  
